
ProjectH/Library/
ProjectH/Logs/
ProjectH/UserSettings/
Prototype.zip
Prototype/.utmp/
Prototype/.vs/
Prototype/Library/
Prototype/Logs/
Prototype/obj/
Prototype/UserSettings/
Prototype/.vsconfig
Prototype/Assembly-CSharp-Editor.csproj
Prototype/Assembly-CSharp.csproj
Prototype/Prototype.sln